[[!meta author="""<TMPL_VAR AUTHOR>"""]]
<TMPL_IF AUTHORURL>
[[!meta authorurl="""<TMPL_VAR AUTHORURL>"""]]
</TMPL_IF>
[[!meta title="""change to<TMPL_LOOP PAGES> <TMPL_VAR PAGE></TMPL_LOOP> on <TMPL_VAR WIKINAME>"""]]
<TMPL_IF PERMALINK>
[[!meta permalink="<TMPL_VAR PERMALINK>"]]
</TMPL_IF>
<div class="row">

  <div id="change-<TMPL_VAR REV>" class="col-md-4">
    <dl class="dl-horizontal">
      <dt><i class="glyphicon glyphicon-file"></i> Files changed:</dt>
      <dd>
        <span class="pagelinks">
          <TMPL_LOOP PAGES>
          <TMPL_IF DIFFURL><a href="<TMPL_VAR DIFFURL>" title="diff" rel="nofollow">[[diff|wikiicons/diff.png]]</a><TMPL_VAR LINK>
          <TMPL_ELSE><TMPL_VAR LINK></TMPL_IF>
          </TMPL_LOOP>
        </span>
      </dd>
      <dt><i class="glyphicon glyphicon-comment"></i> Comment:</dt>
      <dd>
        <TMPL_LOOP MESSAGE>
        <TMPL_IF LINE><TMPL_VAR LINE><br /></TMPL_IF>
        </TMPL_LOOP>
      </dd>
      <dt><i class="glyphicon glyphicon-user"></i> Changed by:</dt>
      <dd>
        <TMPL_IF AUTHORURL>
        <a href="<TMPL_VAR AUTHORURL>" rel="nofollow"><TMPL_VAR USER></a>
        <TMPL_ELSE>
        <TMPL_VAR USER>
        </TMPL_IF>
      </dd>
      <dt><i class="glyphicon glyphicon-upload"></i> Commit type:</dt>
      <dd><TMPL_VAR COMMITTYPE></dd>
      <dt><i class="glyphicon glyphicon-time"></i> Date:</dt>
      <dd><TMPL_VAR COMMITDATE></dd>

    </dl>

    <TMPL_IF REVERTURL>
    <span class="revert">
      <a href="<TMPL_VAR REVERTURL>" title="revert" rel="nofollow"><i class="glyphicon glyphicon-remove-sign"></i>revert</a>
    </span>
    </TMPL_IF>
  </div>

  <TMPL_IF DIFF>
  <div class="col-md-8">
    <pre><code class="diff">
<TMPL_VAR DIFF>
    </code></pre>
  </div>
  </TMPL_IF>

</div>
<!-- <TMPL_VAR REV> -->
