<!DOCTYPE html>
<html lang="en">
  <head>
    <TMPL_IF DYNAMIC>
    <TMPL_IF FORCEBASEURL><base href="<TMPL_VAR FORCEBASEURL>" /><TMPL_ELSE>
    <TMPL_IF BASEURL><base href="<TMPL_VAR BASEURL>" /></TMPL_IF>
    </TMPL_IF>
    </TMPL_IF>
    <meta charset="utf-8">
    <title><TMPL_VAR TITLE></title>
    <TMPL_IF FAVICON>
    <link rel="icon" href="<TMPL_VAR BASEURL><TMPL_VAR FAVICON>" type="image/x-icon" />
    </TMPL_IF>
    <link href="/components/bootstrap/css/bootstrap.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
    <script src="/components/html5shiv.js"></script>
    <![endif]-->

    <link href="/components/highlight/styles/googlecode.css" rel="stylesheet">

    <TMPL_IF LOCAL_CSS>
    <link rel="stylesheet" href="<TMPL_VAR BASEURL><TMPL_VAR LOCAL_CSS>" type="text/css" />
    <TMPL_ELSE>
    <link rel="stylesheet" href="<TMPL_VAR BASEURL>local.css" type="text/css" />
    </TMPL_IF>

    <TMPL_IF EDITURL>
    <link rel="alternate" type="application/x-wiki" title="Edit this page" href="<TMPL_VAR EDITURL>" />
    </TMPL_IF>
    <TMPL_IF FEEDLINKS><TMPL_VAR FEEDLINKS></TMPL_IF>
    <TMPL_IF RELVCS><TMPL_VAR RELVCS></TMPL_IF>
    <TMPL_IF META><TMPL_VAR META></TMPL_IF>
    <TMPL_LOOP TRAILLOOP>
    <TMPL_IF PREVPAGE>
    <link rel="prev" href="<TMPL_VAR PREVURL>" title="<TMPL_VAR PREVTITLE>" />
    </TMPL_IF>
    <link rel="up" href="<TMPL_VAR TRAILURL>" title="<TMPL_VAR TRAILTITLE>" />
    <TMPL_IF NEXTPAGE>
    <link rel="next" href="<TMPL_VAR NEXTURL>" title="<TMPL_VAR NEXTTITLE>" />
    </TMPL_IF>
    </TMPL_LOOP>
  </head>

<body>

  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <TMPL_VAR WIKINAME>
      </a>
    </div>

    <TMPL_IF HAVE_ACTIONS>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <TMPL_IF EDITURL>
        <li><a href="<TMPL_VAR EDITURL>" rel="nofollow">Edit</a></li>
        </TMPL_IF>
        <TMPL_IF RECENTCHANGESURL>
        <li><a href="<TMPL_VAR RECENTCHANGESURL>">RecentChanges</a></li>
        </TMPL_IF>
        <TMPL_IF HISTORYURL>
        <li><a href="<TMPL_VAR HISTORYURL>">History</a></li>
        </TMPL_IF>
        <TMPL_IF GETSOURCEURL>
        <li><a href="<TMPL_VAR GETSOURCEURL>">Source</a></li>
        </TMPL_IF>
        <TMPL_IF PREFSURL>
        <li><a href="<TMPL_VAR PREFSURL>">Preferences</a></li>
        </TMPL_IF>
        <TMPL_IF ACTIONS>
        <TMPL_LOOP ACTIONS>
        <li><TMPL_VAR ACTION></li>
        </TMPL_LOOP>
        </TMPL_IF>
        <TMPL_IF COMMENTSLINK>
        <li><TMPL_VAR COMMENTSLINK></li>
        <TMPL_ELSE>
        <TMPL_IF DISCUSSIONLINK>
        <li><TMPL_VAR DISCUSSIONLINK></li>
        </TMPL_IF>
        </TMPL_IF>
      </ul>
    </div>
    </TMPL_IF>

    <TMPL_IF SEARCHFORM>
    <TMPL_VAR SEARCHFORM>
    </TMPL_IF>

    <TMPL_IF OTHERLANGUAGES>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Languages <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <TMPL_LOOP OTHERLANGUAGES>
            <li class="dropdown">
              <a href="<TMPL_VAR URL>"><TMPL_VAR LANGUAGE></a>
              <TMPL_IF MASTER>(master)<TMPL_ELSE>&nbsp;(<TMPL_VAR PERCENT>%)</TMPL_IF>
            </li>
            </TMPL_LOOP>
          </ul>
        </li>
      </ul>
    </TMPL_IF>
  </nav>

<TMPL_VAR TRAILS>

<div class="container">

<!-- BEGIN content -->

<div class="row">

<TMPL_IF SIDEBAR>
<TMPL_IF HTML5><aside class="col-md-3"><TMPL_ELSE><div class="col-md-3"></TMPL_IF>
<TMPL_VAR SIDEBAR>
<TMPL_IF HTML5></aside><TMPL_ELSE></div></TMPL_IF>
<div class="col-md-9">
<TMPL_ELSE>
<div class="col-md-12">
</TMPL_IF>

<TMPL_IF HTML5><header><TMPL_ELSE><div></TMPL_IF>
<h1><TMPL_VAR TITLE></h1>
<TMPL_IF ISTRANSLATION>
&nbsp;(<TMPL_VAR PERCENTTRANSLATED>%)
</TMPL_IF>
<TMPL_IF HTML5></header><TMPL_ELSE></div></TMPL_IF>

<TMPL_VAR CONTENT>
</div> <!-- /.span -->
</div> <!-- /.row -->

<!-- END content -->

<!-- BEGIN comments -->

<TMPL_UNLESS DYNAMIC>
<TMPL_IF COMMENTS>
<TMPL_IF HTML5><section id="comments" class="col-md-12"><TMPL_ELSE><div id="comments" class="col-md-12"></TMPL_IF>
<TMPL_VAR COMMENTS>
<TMPL_IF ADDCOMMENTURL>
<div class="addcomment">
<a href="<TMPL_VAR ADDCOMMENTURL>">Add a comment</a>
</div>
<TMPL_ELSE>
<div class="addcomment">Comments on this page are closed.</div>
</TMPL_IF>
<TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF>
</TMPL_IF>
</TMPL_UNLESS>

<!-- END comments -->

<!-- BEGIN footer -->

<TMPL_IF HTML5><footer id="footer" class="pagefooter"><TMPL_ELSE><div id="footer" class="pagefooter"></TMPL_IF>
<TMPL_UNLESS DYNAMIC>
<TMPL_IF HTML5><nav id="pageinfo"><TMPL_ELSE><div id="pageinfo"></TMPL_IF>

<TMPL_VAR TRAILS>

<TMPL_IF TAGS>
<TMPL_IF HTML5><nav class="tags"><TMPL_ELSE><div class="tags"></TMPL_IF>
Tags:
<TMPL_LOOP TAGS>
<TMPL_VAR LINK>
</TMPL_LOOP>
<TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF>
</TMPL_IF>

<TMPL_IF BACKLINKS>
<TMPL_IF HTML5><nav id="backlinks"><TMPL_ELSE><div id="backlinks"></TMPL_IF>
Links:
<TMPL_LOOP BACKLINKS>
<a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>
</TMPL_LOOP>
<TMPL_IF MORE_BACKLINKS>
<span class="popup">...
<span class="balloon">
<TMPL_LOOP MORE_BACKLINKS>
<a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>
</TMPL_LOOP>
</span>
</span>
</TMPL_IF>
<TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF>
</TMPL_IF>

<TMPL_IF COPYRIGHT>
<div class="pagecopyright">
<a name="pagecopyright"></a>
<TMPL_VAR COPYRIGHT>
</div>
</TMPL_IF>

<TMPL_IF LICENSE>
<div class="pagelicense">
<a name="pagelicense"></a>
License: <TMPL_VAR LICENSE>
</div>
</TMPL_IF>

<div class="pagedate">
Last edited <TMPL_VAR MTIME>
<!-- Created <TMPL_VAR CTIME> -->
</div>

<TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF>
<TMPL_IF EXTRAFOOTER><TMPL_VAR EXTRAFOOTER></TMPL_IF>
</TMPL_UNLESS>
<!-- from <TMPL_VAR WIKINAME> -->
<TMPL_IF HTML5></footer><TMPL_ELSE></div></TMPL_IF>

<!-- END footer -->

</div> <!-- /.container -->

<!-- javascript
============================================ -->
<!-- placed at the end, so pages load faster -->
<script src="/components/jquery.js"></script>
<script src="/components/bootstrap/js/bootstrap.js"></script>
<script src="/components/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
